body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 15px;
}